{% include movie-head.html %}
{% include header.html %}
<div class="box cen">
    <section class="bots ib post ctr wrapper cen">
      
      <div class="page-content left">
        <div class="pad10">
    <header>
        <p class="normal">{{ page.title }} {{ page.year }} HD Full Movie Download {{ page.title }} ({{ page.year }}) HD Download isaimini Moviesda.Net</p>
      <h1>{{ page.title }} {{ page.language }} movie HD download Movierulz</h1>
  <h2 class="normal">Download {{ page.title }} ({{ page.year }}) {{ page.language }} movie HD Moviesda</h2>
    </header>
    <article class="post-content">
      
      {% if page.poster %}
      <div id="movie-image">
        <figure>
          <picture>
        <img itemprop="image" alt="{{ page.title }} movie poster" style=" height: auto !important; " title="{{ page.title }} Movie Poster" src="{{ page.poster }}" loading="lazy">
      
          </picture>
        </figure>
      </div>
      {% else %}
       <div id="movie-image">
        <figure>
          <picture>
        <img itemprop="image" alt="{{ page.title }} movie poster" style=" height: auto !important; " title="{{ page.title }} Movie Poster" src="{{ page.poster }}" loading="lazy">
      
          </picture>
        </figure>
      </div>
      {% endif %}
      <fieldset id="movie-handle">
        <legend class="bluer cen">Movie Information</legend>
        <b>Movie Name:</b> <span itemprop="name">{{ page.title }}</span><br>
        <b>Year:</b> <a href='{{ site.url }}/browse-by-year/{{ page.year | slugify | append: ".html" }}'>{{ page.year }}</a><br>
        <b>Genre:</b> 
        
        {% if page.genre.size > 0 %}
        {% for genre in page.genre %}


        


        <span itemprop="genre">{{ genre }}</span>
        
        {%- unless forloop.last -%}, {%- endunless -%}
        {% endfor %}
        {% endif %}
        <br>


{% if page.cast %}

        <b>Cast:</b>

        {% if page.cast.size > 0 %}
        {% for cast in page.cast %}

        <span itemprop="actor">{{ cast }}</span>
        
        {%- unless forloop.last -%}, {%- endunless -%}
        {% endfor %}
        {% endif %}

        <br>
        {% endif %}



        {% if page.director %}

        <b>Director:</b>

        {% if page.director.size > 0 %}
        {% for director in page.director %}

    
        <span itemprop="director">{{ director }}</span>

        {%- unless forloop.last -%}, {%- endunless -%}
        {% endfor %}
        {% endif %}

        <br>
        {% endif %}
    
        <b>Language:</b> <span itemprop="inLanguage"><a href='{{ site.url }}/browse-by-language/{{ page.language | append: ".html" }}'>{{ page.language }}</a></span><br>

        <b>Updated:</b> {{ page.date  | timeago }}
      </fieldset>
       <div class="ziparea normal">
  
            <span class="bold uline">Download {{ page.title }} movie download HD {{page.language}}rockers</span><br>
            <table id="tlist" class="firstleft">
      <tbody content="1">
        
          <tr>
          

              <th id="track">Title</th> 
              {% for item in page.dlink limit:1 %}
              {% if item.torrent %}
              <th id="play">Torrents</th>
              {% endif %}
              {% endfor %}
                 {% for item in page.dlink limit:1 %}
              {% if item.url %}
              <th id="play">Download</th>
              {% endif %}
              {% endfor %}
          </tr>
          {% for item in page.dlink %}
         <tr>
              <td><span><h2 class="nostyle"><span><link href="{{item.url}}"> <a href="{{item.url}}" title="Download {{page.title}} movie HD">
                {% if item.title %}
                {{item.title}}
                {% else %}
                {{page.title}} 
                {% endif %}
              
              
              </a> </span></h2>
                  <br><b>Language: </b>
                  <span>
                    {% if item.language.size > 0 %}
                    {% for language in item.language %}
                    {{language}}
                    {%- unless forloop.last -%}, {%- endunless -%}
                    {% endfor %}
                    {% endif %}
                  </span>
                  <br>
                  <b>Quality: </b>
                  <span>{{item.quality}}</span><br>
                  <b>Size: </b><span>{{item.size}}</span> 
                </span>
              </td>
              {% if item.torrent %}
              <td><a href="{{item.torrent}}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 19.264 19.264" style="&#10;    width: 30px;&#10;    height: 30px;&#10;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill: #007c05;" d="M19.264,9.638c0-5.319-4.313-9.631-9.632-9.631C4.312,0.007,0,4.32,0,9.638    c0,4.1,2.567,7.593,6.177,8.982l-1.818-8.45L3.845,7.782l-0.91-4.224L6.46,2.799l1.303,6.059c0.352,1.636,1.094,2.514,2.316,2.25    c0.967-0.208,1.377-0.995,1.487-1.597c0.049-0.228,0.013-0.51-0.047-0.786L10.076,2.02L13.6,1.263l1.646,7.651    c0.662,3.077,2.454,3.548,2.454,3.548s-2.419,0.521-3.433,0.738c-1.012,0.219-1.694-1.591-1.694-1.591l-0.07,0.015    c-0.288,0.785-0.613,2.06-3.127,2.602c-0.184,0.039-0.364,0.064-0.542,0.083l1.064,4.948    C15.092,19.116,19.264,14.867,19.264,9.638z"/>
                    </g>
                  </g>
                  </svg></a>
              </td> 
              {% else %}
            <td>  </td> 
              {% endif %}
              
           <td>
            {% if item.url %}
            <a class="dlink anim" href="{{item.url}}" rel="nofollow" title="Download {{page.title}} movie {{item.quality}}">Download</a>
            {% endif %}
            {% if item.watch %}
            <span itemprop="potentialAction" itemscope itemtype="https://schema.org/WatchAction">
               <a itemprop="target" class="dlink anim" href="{{item.watch}}" rel="nofollow" title="Watch {{page.title}} movie {{item.quality}}">Watch</a> </span>
               {% else %}
               {% endif %}
              </td>
              
          </tr>     
               
                </tr>
                {% endfor %}
      </tbody>
  </table>
          </div>
          <div class="cen">
            <script type="text/javascript">(function() {var script=document.createElement("script");script.type="text/javascript";script.async =true;script.src="//telegram.im/widget-button/index.php?id=@moviesdavin";document.getElementsByTagName("head")[0].appendChild(script);})();</script>
            <a href="https://telegram.im/@moviesdavin" target="_blank" class="cen telegramim_button telegramim_shadow telegramim_pulse" style="display: inline-block;font-size:14px;width:25%;background:#27A5E7;box-shadow:1px 1px 5px #27A5E7;color:#FFFFFF;border-radius:0px;" title=""><i></i> Follow</a>
              
            
          </div>
        
  
        <h4 class="bold uline">Incoming Search Terms:</h4>
  <ul>
        <li>{{ page.title }} Movie Download isaimini</li>
        <li>{{ page.title }} Movie Download {{page.language}}rockers</li>
         <li>{{ page.title }} Movie Download {{page.language}}gun</li>
         <li>{{ page.title }} Movie Download {{page.language}}mv</li>
         <li>{{ page.title }} Movie Download isaiminiweb</li>
         <li>{{ page.title }} Movie Download isaiminida</li>
         <li>{{ page.title }} Movie Download isaiminipa</li>
         <li>{{ page.title }} Movie Download {{page.language}}dbox</li>
         <li>{{ page.title }} Movie Download moviesdaweb</li>
         <li>{{ page.title }} Movie Download moviesda</li>
         <li>{{ page.title }} Movie Download marina rockers</li>
         <li>{{ page.title }} Movie Download sri rockers</li>
         <li>{{ page.title }} Movie Download kuttymovies</li>
         <li>{{ page.title }} Movie Download cool{{page.language}}</li>
         <li>{{ page.title }} Movie Download Youtube</li>
         <li>{{ page.title }} Movie Download Disney+ Hotstar</li>
         <li>{{ page.title }} Movie Download Netflix</li>
         <li>{{ page.title }} Movie Download Amazon Prime Video</li>
         <li>{{ page.title }} Movie Download ZEE5</li>
         <li>{{ page.title }} Movie Download ALT Balaji</li>
         <li>{{ page.title }} Movie Download MX Player</li>
         <li>{{ page.title }} Movie Download Hungama</li>
         <li>{{ page.title }} Movie Download BIGFlix</li>
         <li>{{ page.title }} Movie Download TnMoviez</li>
         <li>{{ page.title }} Movie Download isaidub</li>
         <li>{{ page.title }} Movie Download oru{{page.language}}</li>
         <li>{{ page.title }} Movie Download in {{page.language}}</li>
         <li>{{ page.title }} Movie Download in Hindi</li>
         <li>{{ page.title }} Movie Download in Telugu</li>
         <li>{{ page.title }} Movie Download in Malayalam</li>
         <li>{{ page.title }} Movie Download in Kannada</li>
         <li>{{ page.title }} Movie Download in English</li>
         <li>{{ page.title }} Movie Download telegram</li>
         <li>{{ page.title }} Movie Download telegram link</li>
         <li>{{ page.title }} Movie Download isaiminimob</li>
         <li>{{ page.title }} Movie Download {{page.language}}blasters</li>
         <li>{{ page.title }} Movie Download {{page.language}}play</li>
         <li>{{ page.title }} Movie Download jiorockers</li>
         <li>{{ page.title }} Movie Download movierulz</li>
         <li>{{ page.title }} Movie Download kotha movies</li>
        </ul>
        
        <p>{{ page.title }} ({{ page.year }}) Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) {{ page.quality }} Full Movies Download, MobileRockers {{ page.title }} ({{ page.year }}) Mobile Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) Download, {{ page.title }} ({{ page.year }}) Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) {{ page.quality }} Full Movies Download, MobileRockers {{ page.title }} ({{ page.year }}) Mobile Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) Download</p>
  
  <p>{{ page.title }} Full Movie Download {{ page.title }} HD Movie Download {{ page.title }} Movie HD Download {{ page.title }} Tamil Full Movie Free Download Moviesda.in {{ page.title }} Full Movie 1080p HD & 720 HD TamilRockers TamilGun Download {{ page.title }} Full HD Movie isaimini Download {{ page.title }} Mp4 HD Movie Download</p>
  
  <p>{{ page.title }} (Original) Full Movie Download {{ page.title }} (Original) {{ page.language }} Full Movie Download {{ page.title }} (Original) Movie Moviesda Download isaimini </p>
        
    </article>
  </div>
  
  
  
      </div>
    </section>  {% include sidebar.html %}</div>
    
    {% include footer.html %}
